# Print Objects

In [ ]:
print("hello world")

# Variables & Data Types

In [ ]:
# Variable to store data in (e.g. Name, age, etc.) to easily change it 
# first assign a name to the variable: 

character_name = "John"  # Storing as â€œString" = plain text as a data type 
print ("There was a man named " + character_name + ", ")

character_age = "35"  # without "" it will be a numbers variable: int or float 
print ("He was " + character_age + "years old.")

is_male = False  # Boolean: True/False 
print(is_male)

#variables can be modified throughout the story / program

# Strings

In [ ]:
print("Giraffe\nAcademy") # will separate and print text in two lines
print("Giraffe \"Academy") # to print out a quotation mark 

phrase = "Annes Python Class"
print(phrase)

# Concatination: to add on strings on other variable
print (phrase + " is cool") 

# Functions: 
phrase = "Giraffe Academy"
print(phrase.lower()) # will convert all characters in string variable into lower cases    
print(phrase.upper()) # will convert all characters in string variable into upper cases    
print(phrase.isupper()) # will tell us if the string variable only contains upper cases  
print(phrase.upper().isupper()) # will first transform all into upper cases and then tell true of false if all is upper case
print(len(phrase)) # to get the lengths of the string (number of characters)    
print(phrase[0]) # will print the character of the string variable asked for. we start counting at 0!  
print(phrase.index("i")) # index function will give back the index at which the character is mentioned within the string variable. if two or more characters it will give back the first index   
print(phrase.index("Acad")) # if a whole word or part of a word is asked for, it will give back the index where it starts. if not found in variable, error message

# Numbers

# Pandas

In [2]:
#importing libaries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

## creating a new Data Frame

In [10]:
#creating a new Data Frame
df = pd.DataFrame(np.random.randn(6, 4), columns=list('ABCD'))
df

          A         B         C         D
0 -0.357419 -1.372332  2.858714  0.441416
1  0.677200  1.097663 -0.879621 -0.394334
2  0.534373  0.008802  1.213714  0.615534
3  1.366615  0.160999  1.003401 -1.615455
4 -1.545548 -1.268111  0.914282  0.222772
5  0.048368 -0.873320  1.009343  1.213068

In [11]:
#if index should be a set date, then: 
dates = pd.date_range('20130101', periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
#DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04','2013-01-05', '2013-01-06'], dtype='datetime64[ns]', freq='D')

df_2 = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df_2

                   A         B         C         D
2013-01-01 -0.365989 -0.137934 -0.107419 -2.004223
2013-01-02 -1.706922  1.015919  0.880075  0.065852
2013-01-03  1.731211 -0.487879 -0.250304  1.608972
2013-01-04 -0.670195  1.041050 -0.063215 -1.871757
2013-01-05 -0.281522 -0.749174 -0.451759  0.217433
2013-01-06 -0.585076  0.872762 -0.648946 -2.089193

## Importing Data

In [ ]:
#variable_name = pd.read_csv('Insert folder and name of csv file if safed in same folder as notebook', parse_dates=['Date'])

#variable_name = pd.read_csv('data/sales_data.csv', parse_dates=['Date'])